/* resert */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #222;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 100%;
    min-width: 900px;
    margin: auto;
}


/* header section */

header {
    position: relative;
    margin: 1px 5px 0 5px;
    background: transparent;
    border: 1px solid #606060;
}


/* menu icon */

.menu-icon {
    display: block;
    cursor: pointer;
    float: left;
    margin-top: 12px;
}

.menu-icon>div {
    width: 19px;
    height: 2px;
    background-color: #000000;
    margin: 4px 35px 0 12px;
}


/* header logo */

.youtube-logo {
    margin: 9px 0 0 0;
}

.logo-img {
    width: 30px;
    /* vertically align logo and text */
    vertical-align: middle;
    margin-bottom: 0.75rem;
}

.logo-text {
    font-size: 24px;
}

.country {
    font-size: 12px;
    color: #606060;
    position: absolute;
    top: 9px;
    left: 188px;
}


/* search box */

.search-box {
    position: absolute;
    top: 5px;
    left: 280px;
    margin-bottom: 6px;
}

form.search-box input {
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
    border: 1px solid grey;
    width: 600px;
    margin-top: 6px;
    margin-left: 3px;
    background: transparent;
}

@media screen and (max-width: 500px) {
    form.search-box input {
        width: 320px;
    }
}

form.search-box button {
    position: absolute;
    cursor: text;
    background: transparent;
    outline: none;
    float: right;
    max-width: 40px;
    padding: 5px;
    background: #f1eded;
    color: grey;
    font-size: 15px;
    margin-top: 6px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search-box::after {
    content: "";
    clear: both;
    display: table;
}


/*material icons */

.nav-icons {
    float: right;
    margin: 0 40px 0 0;
}

i.material-icons {
    font-size: 28px;
    padding: 0 0 0 0;
    color: #5F6368;
    display: inline-block;
    margin: 6px 20px 0 0;
}

.material-icons span {
    color: #0c126d;
    font-size: 40px;
    padding-top: 6px;
    position: absolute;
    top: 2px;
    right: 30px;
}