html,
body {
    color: #222;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

html {
    display: block;
}

.container {
    width: 100%;
    min-width: 900px;
    margin: auto;
}


/* header section */

header {
    position: relative;
    margin: 1px 5px 5px 5px;
    background: transparent;
}


/* menu icon */

.menu-icon {
    display: block;
    cursor: pointer;
    float: left;
    margin-top: 3px;
}

.menu-icon>div {
    width: 19px;
    height: 2px;
    background-color: #000000;
    margin: 4px 35px 0 12px;
}


/* header logo */

.youtube-logo {
    margin: 9px 0 0 0;
}

.logo-img {
    width: 30px;
    /* vertically align logo and text */
    vertical-align: middle;
    margin-bottom: 0.75rem;
}

.logo-text {
    font-size: 24px;
}

.country {
    font-size: 12px;
    color: #606060;
    position: absolute;
    top: 2px;
    left: 198px;
}


/* search box */

.search-box {
    position: absolute;
    top: 5px;
    left: 280px;
    margin-bottom: 39px;
}

form.search-box input {
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #d3d3d3;
    background: #fff;
    box-shadow: inset 0 1px 2px #eee;
    width: 600px;
    margin-top: 2px;
    margin-left: 3px;
    background: transparent;
}

@media screen and (max-width: 500px) {
    form.search-box input {
        width: 320px;
    }
}

form.search-box button {
    position: absolute;
    cursor: text;
    background: transparent;
    outline: none;
    float: right;
    max-width: 40px;
    padding: 5px;
    background: #f1eded;
    color: #808080;
    font-size: 15px;
    margin-top: 2px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

form.search-box::after {
    content: "";
    clear: both;
    display: table;
}


/*material icons */

.nav-icons {
    float: right;
    margin: 0 40px 0 0;
}

i.material-icons {
    font-size: 28px;
    padding: 0 0 0 0;
    color: #5F6368;
    display: inline-block;
    margin: 6px 20px 0 0;
}

.material-icons span {
    color: #dd0b51;
    font-size: 40px;
    padding-top: 6px;
    position: absolute;
    top: -6px;
    right: 30px;
}


/* play video section */

.play-column {
    width: 950px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 -30px;
    padding: 10px 10px;
    position: relative;
}

.youtube-player {
    background: #fafafa;
    margin: auto;
    position: relative;
}

.play-video iframe {
    margin-top: 30px;
}

.play-video h1 {
    margin: 16px 0 0 0;
}

.play-video p {
    margin: 5px 0 6px 0;
}

.icon-text {
    font-size: 13px;
}

.options-icons {
    position: relative;
    left: 200px;
}

.options-icons i {
    font-size: 16px;
    position: relative;
    left: 14px;
}

hr {
    margin: 12px 0 0 0;
    width: 74%;
}

.video-description {
    position: relative;
    margin: 8px 0 0 0;
}

.channel-logo {
    position: relative;
    border: 1px solid #fff;
    border-radius: 100%;
    float: left;
}

.channel-logotxt {
    margin: 14px 0 0 0;
    font-weight: bold;
    float: left;
}

.subscribe-btn {
    vertical-align: middle;
    margin: -1px 0 40px 470px;
    font-size: 13px;
    padding: 6px 6px;
    color: #fff;
    background-color: #dd2323;
    border: none;
}

.description-text p,
h1 {
    margin: 1px 0 14px 0;
}

.description-text p {
    word-wrap: break-word;
    width: 610px;
    font-size: 14px;
    text-align: justify;
    display: inline-block;
}

.description-text h1 {
    position: relative;
    top: 3px;
    color: #7a7979;
    font-size: 12px;
}

.comments {
    margin: 30px 0 0 0;
    font-size: 12px;
    font-weight: bold;
}


/* aside section */

aside {
    display: block;
    position: relative;
    /*top: 0;
    right: 0;
    */
}

.upnext-video {
    display: flex;
    flex-direction: column;
}

.video-thumbnail {
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 16px;
    float: right;
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 900px;
}

.autopplay-video h1 {
    border-bottom: none;
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin-bottom: 8px;
}

.play-video {
    position: relative;
}

.video-toggle {
    margin-bottom: 40px;
    position: relative;
}

.video-toggle {
    font-size: 10px;
    position: relative;
    left: 1px;
}

.video-toggle h1 {
    margin: 40px 0 0 0;
    font-size: 16px;
    color: #535151;
}

.toggle-text {
    margin: 0 0 0 0;
    color: #535050;
    font-size: 15px;
}

#toggle {
    font-size: 46px;
    color: #aaa5a5;
    margin: 0 0 0 70px;
}