/* resert */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #222;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    ;
}

.container {
    width: 100%;
    min-width: 900px;
    margin: auto;
}


/* header section */

header {
    position: relative;
    margin: 1px 5px 0 5px;
    background: transparent;
}


/* menu icon */

.menu-icon {
    display: block;
    cursor: pointer;
    float: left;
    margin-top: 3px;
}

.menu-icon>div {
    width: 19px;
    height: 2px;
    background-color: #000000;
    margin: 4px 35px 0 12px;
}


/* header logo */

.youtube-logo {
    margin: 9px 0 0 0;
}

.logo-img {
    width: 30px;
    /* vertically align logo and text */
    vertical-align: middle;
    margin-bottom: 0.75rem;
}

.logo-text {
    font-size: 24px;
}

.country {
    font-size: 12px;
    color: #606060;
    position: absolute;
    top: 2px;
    left: 198px;
}


/* search box */

.search-box {
    position: absolute;
    top: 5px;
    left: 280px;
    margin-bottom: 6px;
}

form.search-box input {
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
    border: 1px solid grey;
    width: 600px;
    margin-top: 2px;
    margin-left: 3px;
    background: transparent;
}

@media screen and (max-width: 500px) {
    form.search-box input {
        width: 320px;
    }
}

form.search-box button {
    position: absolute;
    cursor: text;
    background: transparent;
    outline: none;
    float: right;
    max-width: 40px;
    padding: 5px;
    background: #f1eded;
    color: grey;
    font-size: 15px;
    margin-top: 2px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search-box::after {
    content: "";
    clear: both;
    display: table;
}


/*material icons */

.nav-icons {
    float: right;
    margin: 0 40px 0 0;
}

i.material-icons {
    font-size: 28px;
    padding: 0 0 0 0;
    color: #5F6368;
    display: inline-block;
    margin: 6px 20px 0 0;
}

.material-icons span {
    color: #0c126d;
    font-size: 40px;
    padding-top: 6px;
    position: absolute;
    top: -6px;
    right: 30px;
}


/* main section */

section {
    position: relative;
    display: flex;
    background: #fafafa;
}

.youtube-player {
    background: #fafafa;
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    position: relative;
}

.play-video iframe {
    margin-left: 90px;
}

.play-video h1 {
    margin: 16px 0 0 90px;
}

.play-video p {
    margin: 5px 0 6px 90px;
}

.icon-text {
    font-size: 13px;
}

.options-icons {
    position: relative;
    left: 450px;
}

.options-icons i {
    font-size: 16px;
    position: relative;
    left: 14px;
}

hr {
    margin: 12px 0 0 90px;
    width: 54%;
}


/* aside section */

aside {
    display: block;
    margin-left: 20px;
    float: right;
    position: absolute;
    left: 800px;
}

.video-thumbnail {
    float: right;
    margin-left: 20px;
}

.video-description {
    margin: 8px 0 0 90px;
}

.channel-logo {
    position: relative;
    border: 1px solid #fff;
    border-radius: 100%;
}

.channel-logotxt span {
    vertical-align: middle;
    margin: -200px 0 0 0;
}

.subscribe-btn {
    vertical-align: middle;
    margin: -18px 0 40px 470px;
    font-size: 13px;
    padding: 6px 6px;
    color: #fff;
    background-color: #dd2323;
    border: none;
}

.description-text p,
h1 {
    margin: 2px 0 0 90px;
}

.description-text p {
    word-wrap: break-word;
    width: 610px;
    text-align: justify;
    display: inline-block;
}

.description-text h1 {
    position: relative;
    left: ;
    top: 3px;
    font-size: 12px;
}

.comments {
    margin: 2px 0 0 90px;
}